.ui-menu {
	border: 1px solid #E2E2E2;
	padding: 0px !important;	
	max-width: 500px !important;
}

.ui-widget {
	font-size:10px;
}

.ui-corner-all {
	border-radius:0 !important;
	margin: 0px !important;
}

.ui-menu-item {
	font-size:12px !important;
	
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {
	background:#dfeffc !important;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {
	border:none !important;
	background:#EEEEEE !important;
	color: black !important;
}

.ui-state-hover a,.ui-state-hover a:hover {
	text-decoration:none;
	color: black;
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {
	border:none !important;
	background:#EEEEEE !important;
	color: black;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	color:#e17009;
	text-decoration:none;
	color: black;
}

.ui-widget :active {
	outline:none;
}